
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 10px;
  }

  .grid-item {
    background-color: forestgreen;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.image > img {
    position: absolute;
}

#fingers1 {
    width: 30vw;
    bottom: -10vw;
    left: 10vh;
    transform: rotateY(180deg) rotateZ(-20deg);
}

#fingers2 {
    width: 30vw;
    bottom: -10vw;
    right: 10vh;
    transform: rotateZ(-20deg);
}


